version: '4'

services:
  waline:
    image: lizheming/waline:latest
    container_name: waline-standalone
    restart: always
    ports:
      - "8360:8360"
    environment:
      - MYSQL_HOST=blog-stats-db
      - MYSQL_PORT=3306
      - MYSQL_DB=waline_db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=GB_UXa>cX*h!K2
      - MYSQL_CHARSET=utf8mb4
      - MYSQL_SSL=false
      - TABLE_PREFIX=wl_

      - TZ=Asia/Shanghai
      - LANG=zh_CN.UTF-8
      - JWT_SECRET=Standalone_Waline_Secret_2025
      # --- 通知配置 ---
      - SITE_NAME=Hangliuc
      - SITE_URL=https://hangops.top

      # 163
      - SMTP_SERVICE=163
      - SMTP_USER=iliuhang@163.com
      - SMTP_PASS=JKiFwCcnhxaXHUgP
      - SMTP_SECURE=true
      - AUTHOR_EMAIL=iliuhang@163.com
      - SENDER_EMAIL=iliuhang@163.com

    networks:
      - ext-blog-net

networks:
  ext-blog-net:
    external: true
    name: blog-stats_blog-net

